<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Dragons Köln - Impressum</title>
    <link rel="stylesheet" href="{{ url_for('frontend.static', filename='css/style.css') }}">


</head>
<body>

<header class="hero-banner">
	<div class="hero-text">
		<h1>Impressum</h1>
	</div>
</header>

<nav class="sticky-nav">
    <ul>
        <li><a href="/">Startseite</a></li>
		<li><a href="/impressum">Impressum</a></li>
		<li><a href="/kontakt">Kontakt</a></li>
		<li><a href="/bilderarchiv">Bilderarchiv</a></li>
		<li><a href="/kalender">Kalender</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/appointments">Termine</a></li>
		<li><a href="{{ url_for('backend.login') }}">Admin</a></li> <!-- Link to Admin Login -->
    </ul>
</nav>

<main id="impressum-content1">
    <!-- Hier kommt das Impressum nach deutschem Recht -->
    <h2>Angaben gemäß § 5 TMG:</h2>	  
</main>

<main id=impressum-content2">
	<h3><p>Red Dragons Köln<br>reddragonscgn@gmail.com<br></p></h3> 
</main>

<footer>© 2024 Red Dragons Köln | Alle Rechte vorbehalten</footer>

</body>
</html>
