<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Login</title>
    <link rel="stylesheet" href="{{ url_for('backend.static', filename='css/backend-style.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Admin-Login</h1>
        <form action="{{ url_for('backend.login') }}" method="POST">
            <label for="username">Benutzername:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Passwort:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Einloggen</button>
        </form>
	 <a href="{{ url_for('frontend.index') }}" class="back-home">Zurück zur Homepage</a>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
